.contact {
  padding: 15em 1em;
  display: flex;
  gap: 1em;
  background-color: var(--bg);
  width: 100vw;
  height: 100%;
  min-height: 100svh;
}
.contact .col:nth-child(1) {
  flex: 1;
}
.contact .col:nth-child(2) {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.contact .socials {
  position: absolute;
  bottom: 1.5em;
  display: flex;
  gap: 1em;
}
@media (max-width: 900px) {
  .contact {
    flex-direction: column;
  }
}
